# Server
PORT=5000
NODE_ENV=development

# Database (Supabase PostgreSQL)
SUPABASE_URL=https://ulgcfvvtxqzpodlzpdth.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZ2NmdnZ0eHF6cG9kbHpwZHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNzk3MDQsImV4cCI6MjA5OTY1NTcwNH0.xKL-tl_PxPPCEB1d0TSAJKougCfBro7pB9Ia-07j95w

# Security
JWT_SECRET=4ea400f4493cb7ce87ce940f250696979cc93b10f4e3ab3ac0289c204f9b94d5
CORS_ORIGIN=https://merelosjeff-portfolio-backend.vercel.app/

# Email (Nodemailer - Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=merelosjeft@gmail.com
EMAIL_PASS=oxyv typf oxru xzrg
EMAIL_FROM=merelosjeft@gmail.com
EMAIL_TO=jeffmerelos.coredev@gmail.com

# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
CONTACT_RATE_LIMIT_MAX=5

# GitHub API (optional)
GITHUB_TOKEN=
GITHUB_USERNAME=jeffdev
